@import url("https://use.fontawesome.com/releases/v5.11.1/css/all.css");

@tailwind base;
/* Setting General */
::-webkit-scrollbar {
  @apply w-2
}

::-webkit-scrollbar-track {
  @apply w-2 bg-book-lighter
}

::-webkit-scrollbar-thumb {
  @apply w-2  bg-book-main
}

::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active  {
  @apply bg-book-second
}


*,
*:before,
*:after {
  @apply box-border m-0 p-0;
}

@font-face {
  font-family: 'Signatria';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  /* Accesando el archivo de fuentes dentro del directorio de assets */
  src: url('./font/Signatria.ttf') format('truetype');
}

p {
  @apply mb-3;
  line-height: 1.6rem;
  color: #636363;
}

blockquote {
    border-left: 4px solid;
    border-right: 4px solid;
    border-color: #ad96a9;
    font: normal 400 16px Abel;
    text-align: justify;
    padding: 10px;
    background: #f8f4f4;
    color: #8d8d8d;
    margin-bottom: 2rem;
}

@tailwind components;
/* Hero */
.hero-img {
    @apply flex bg-cover bg-center bg-no-repeat;
    height: 75vh;
}

.hero-img::after {
    display: block;
    position: absolute;
    top: 0;
    left:0;
    right:0;
    width: 100%;
    height: 75vh;
    content: '';
    background-image: linear-gradient(180deg, #86425f 0%, #352F4496 80%);
}

.hero-img h2 {
    font-family: 'Signatria';
}

.hero-img p {
    font-family: 'Redressed', cursive;
}

/* Thumb */
.blur-featured::after {
    content: '';
    position: absolute;
    top: 0; 
    width: 100%;
    height: 100%;
    background-image: linear-gradient(360deg, #86425f 0%, #352F4496 100%);
}


@tailwind utilities;
